<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../paper-spinner/paper-spinner.html">

<dom-module id="datamanager-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <paper-spinner active="{{cargando}}" class="thick"></paper-spinner>
    <h2>Hello [[prop1]]!</h2>
    <iron-ajax auto url="https://jsonplaceholder.typicode.com/users/" handle-as="json" last-response="{{almacenamiento}}" loading="{{cargando}}"></iron-ajax>
  </template>

  <script>
    /**
     * `datamanager-element`
     * elementos
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class DatamanagerElement extends Polymer.Element {
      static get is() { return 'datamanager-element'; }
      static get properties() {
        return {
          // handleResponse:{
          //   type: Object,
          //   value: ()=> {
          //     return {}
          //   },
          //   observer: '_success'
          // },
          prop1: {
            type: String,
            value: 'datamanager-element'
          },
          cargando:{
            type: Boolean,
            value: true
          },
          almacenamiento:{
            type:Object,
            value:()=>{
              return {}
            },
            observer: '_success'
          },
          dataUsuarios:{
            type: Array,
            value: () =>{
              
            }
          }
        };
      }
      _success(e){
        console.log(e.detail)
        console.log(this.almacenamiento)
       
        this.dispatchEvent(
       new CustomEvent( 'adquirir-datos',{
        detail:this.handleResponse
       }));
      }
    }

    window.customElements.define(DatamanagerElement.is, DatamanagerElement);
  </script>
</dom-module>